#container {
  padding: 2em;
  margin: 0 auto;
  width: fit-content;
  height: max-content;
  display: flex;
  justify-content: center;
  box-shadow: 20px 20px 20px 5px rgb(190, 190, 190);
}

input {
  border: none;
}

#container h1 {
  text-align: center;
}

#object h1 {
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: cornflowerblue;
}

#image {
  display: flex;
  justify-content: center;
}

#image img {
  margin: 1em;
  background-color: blue;
  width: 15em;
  height: 15em;
  cursor: pointer;
}

#inputs input {
  padding: 1em;
  border-radius: 0.5em;
  margin: 0.5em;
  background-color: rgb(250, 250, 250);
  box-shadow: 5px 5px 10px 5px gainsboro;
  font-size: medium;
}

#inputs .input-group {
  display: inline-flex;
  flex-direction: column;
}

#btn {
  display: flex;
  justify-content: center;
  margin: 1em;
}

#inputs input:focus {
  outline: none;
}

#btn > button {
  background-color: cornflowerblue;
  border-radius: 0.5em;
  font-size: large;
  color: azure;
  font-family: sans-serif;
  padding: 0.5em 3em;
  margin: 0.5em;
  cursor: pointer;
  border: none;
}

#btn > button:hover {
  background-color: white;
  color: cornflowerblue;
  border: 3px solid cornflowerblue;
  font-weight: 700;
}

/*^ image select */

.error {
  color: red;
  font-size: larger;
  font-family: sans-serif;
}

.input-group > input.error {
  border: 2.5px solid red;
}

.input-group > input.success {
  border: 2.5px solid green;
}

/*  */

.selectedimg {
  border-radius: 50%;
  border: 5px green solid;
}

#result {
  font-family: sans-serif;
  text-align: center;
}

#result h2 {
  font-size: 5em;
  padding: 0;
  margin: 0;
  color: cornflowerblue;
}

#result p,
h3 {
  font-size: large;
}

@media screen and (max-width: 480px) {
  #container,
  #object {
    overflow: hidden;
  }

  #image img {
    width: 8em;
    height: 8em;
  }

  #inputs {
    width: 100%;
    margin: 0 1em;
  }

  #inputs > .input-group {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
  }
  #inputs > .input-group > input {
    width: 17em;
    padding: 0.5em;
    margin: 0.5em 0.2em;
    overflow: hidden;
    box-shadow: 2px 2px 2px 2px gainsboro;
  }
  .errored {
    font-size: small;
    margin: 0 1em;
  }
}
